//colors
$flesh: #deaa86;
$banner-color-onprimary: #ddd;
$banner-p-color: #333;

//Typography
$heading-1: 4rem;
$heading-2: 3.2rem;
$heading-3: 2.8rem;
$heading-4: 2.4rem;
$heading-5: 2rem;
$heading-6: 1.6rem;
$body-text: 1.6rem;
$small-text: 1.4rem;

//Fonts
$main-font: "Montserrat", san-serif;
$sub-font: "Josefin Sans", san-serif;